.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  .card-fake {
    width: 320px;
    flex-grow: 1;
  }
  .card {
    background: $whiteColor;
    box-shadow: 0px 0px 10px rgba(28, 29, 39, 0.25);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    width: 320px;
    flex-grow: 1;
    height: auto;
    .card-info {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      width: calc(100% / 2 - 10px);
      .card-info-title {
        color: $darkGreyColor;
      }
      .card-info-value {
        flex: 1;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      &.full-width {
        width: 100%;
      }
    }
  }
}
